<div class="well">
  <%@users.each do |college_profile|%>
    <p> 
    <%=college_profile.id%>      <%=college_profile.college_profile.degree%>
    <%college_profile.academic_detail.each do |acad|%>
      <%=acad.course%>
    <%end%>
    </p>
  <br>
<%end%>
