<div class="well col-lg-12">
  <center><h1>Admin Panel</h1>  <ul>
    <li>  <%=link_to "Add user","createuser"%></li>
    <li> <%=link_to "Work status",workstatuses_path%></li>
  </ul>
</center>

</div>
