<div class="well col-lg-12">
<h1><center><i class="mdi-action-question-answer"></i> FAQ</center></h1>
<div id="faq">
  <h3>What is the dress code?</h3>
  <div><p>Answer</p></div>
  <h3>What are the things I should bring to an interview</h3>
  <div><p>Answer</p></div>
  <h3>I am having an arrear.Can I attend the companies visiting the campus?</h3>
  <div><p>Answer</p></div>
</div>
</div>
