<div class="well col-lg-12">
  <h1><center><i class="mdi-action-question-answer"></i> FAQ</center></h1>
  <div id="faq">
    <h3>What is the dress code?</h3>
    <div><p><b>Boys</b> Formal Shirts and Pants with Shoes.<br> <b>Girls</b> Suitable attire<br>Jeans strictly not allowed.ID card is a must<p></div>
    <h3>What are the things I should bring to an interview</h3>
    <div><p>
      <ul>
        <li>    2-3 hard copies of your resume</li>
        <li> A soft copy of your resume in PDF format on a usb drive</li>
        <li>Passport size photos-2</li>
      </ul>
    </p></div>
    <h3>I am having an arrear.Can I attend the companies visiting the campus?</h3>
    <div><p>No you can't appear if you have an arrear and the visting campus has asked for only for students with no arrears</p></div>
    <h3>I hava applied for revaluation.Does it means that I can attend?</h3>
    <div><p>No you can't appear even though you have applied for revaluation and the visting campus has asked for only for students with no arrears</p></div>
    <h3>What does history of arrears mean?</h3>
    <div><p>A student is said to have history of arrears if any of his/her previous semesters the student has got an arrear.</p></div>
    <h3>What does current arrears mean?</h3>
    <div><p>The number of arrears you currently hold in this semester</p></div> 
  </div>
</div>
