<div class="well">
<p id="notice"><%= notice %></p>

<h1>Listing Workstatus</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Numrange</th>
      <th>Workstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workstatuses.each do |workstatus| %>
      <tr>
        <td><%= workstatus.numrange %></td>
        <td><%= workstatus.status %></td>
        <td><a href="<%= workstatus.filename %>" target="blank">Click to download</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
