<div class="well">
<h1>New Company</h1>
<%= render 'form' %>
<%= link_to 'Back', companies_path %>
</div>
<script>
$(document).ready(function(){
    $("#date").datetimepicker({
      format:'Y-m-d H:i:s'
      });
    })
</script>
