<center><h1><i class="mdi-social-school"></i> New Academic Detail</h1></center>
<center><small class="danger">If not applicable enter zero.All fields are required</small></center>

<%= render 'form' %>
