<div class="well">
  <center><h1><i class="mdi-social-school"></i> Edit Academic detail</h1></center> 
<center><small>If not applicable enter zero.All fields are required</small></center>

<%= render 'form' %>
</div>
